<div class="meals">

	<h1 class="title">Cook Plan</h1>

	<nav-bar></nav-bar>

	<form class="search-bar">
		<div class="input-field">
			<input id="search" type="search">
			<label for="search"><i class="material-icons">Recherche...</i></label>
		</div>
	</form>

	<!-- buttuon add -->
	<button data-target="modal-meal" ng-click="modalView='choice'" class="btn modal-trigger btn-floating btn-large waves-effect waves-light orange btn-add">+</button>

	<!-- book -->
	<img class="notebook" src="../assets/meals/notebook.png">
	<img class="illustrate" src="../assets/meals/illustrate.png">


<!-- ====================================================================================================
MODAL ADD
==================================================================================================== -->

<div id="modal-meal" class="modal bottom-sheet modal-meal">
	
	<div class="modal-content">

		<div class="row">
			<h3 class="marmellata textOrange">Ajouter un plat</h3>
			<div class="divider"></div>
		</div>

		<div class="row" ng-show="modalView=='choice'">
			<h5 class="marmellata subtitle">Quel type de plat voulez-vous ajouter ...</h5>
		</div>
		
		<div class="row">
			<div class="col s2">
				<img src="../assets/meals/logo-apero.png">
				<h5 class="chalk">Aperitifs</h5>
			</div>
			<div class="col s2">
			<img src="../assets/meals/logo-entry.png"> 
				<h5 class="chalk">Entrees</h5>
			</div>
			<div class="col s2">
				<img src="../assets/meals/logo-meal.png"> 
				<h5 class="chalk">Plats</h5>
			</div>
			<div class="col s2">
				<img src="../assets/meals/logo-garnish.png"> 
				<h5 class="chalk">Accompagnements</h5>
			</div>
			<div class="col s2">
				<img src="../assets/meals/logo-dessert.png"> 
				<h5 class="chalk">Desserts</h5>
			</div>
			<div class="col s2">
				<img src="../assets/meals/logo-drink.png"> 
				<h5 class="chalk">Boissons</h5>
			</div>
		</div>
		
	</div>

</div><!-- END MODAL -->

</div>



