@font-face {
	font-family: 'Chalk';
	src: url('../fonts/Colored Crayons.ttf');
}
@font-face {
	font-family: 'Pacifico';
	src: url('../fonts/Pacifico.ttf');
}
@font-face {
	font-family: 'Marmellata';
	src: url('../fonts/Marmellata.ttf')
}
@font-face {
	font-family: 'Roboto-Condensed';
	src: url('../fonts/RobotoCondensed-Regular.ttf')
}
.padding {
	padding: 5%!important;
}
.margin {
	margin: 3%!important;
}
.marmellata {
	font-family: 'Marmellata';
}
.pacifico {
	font-family: 'Pacifico';
}
.chalk {
	font-family: 'Chalk';
}
.roboto {
	font-family: 'Roboto-Condensed';
}
.textOrange {
	color: #e67c0f;
}
.bold {
	font-weight: bold!important;
}
.no-shadow {
	text-shadow: none!important;
}
.border {
	border: 2px solid #e67c0f;
}
.transparent {
	background-color: transparent;
}
h5 {
	margin-bottom: 2%;
}
/*===========================================================================*/
* {
	margin: 0;
	padding: 0;
}
body {
	overflow: hidden;
	background-image: url('../assets/background.jpg');
	background-size: 100vw auto;
	background-position: 0 10%;
	background-repeat: no-repeat;
}
select {
    -webkit-appearance: none;
    border-bottom: 2px solid #e67c0f;
    margin-bottom: 5%;
}
select:focus {
	border: none;
}
.center {
	text-align: center;
}
.btn-block {
	width: 100%;
	margin: 5% 0;
}
.title {
	z-index: 1;
	margin: 0;
	font-family: Pacifico;
	color: #dc7205;
	font-size: 700%;
	text-shadow: 10px 10px 10px #fff;
}

/*MATERIALIZE GLOBAL CSS CHANGES*/
.active {
	color: #e67c0f;
}
.caret {
	display: none;
}