<div class="modalMealAperitif">

	<!-- =======================================
	EAT OR DRINK APERITIF
	======================================= -->
	<div class="row" ng-show="modalView==choice2">
		<div class="col s3 offset-s2" ng-click="modalView='name'; $('#lean-overlay').remove()">
			<img src="../assets/meals/chips.png">
			<h5 class="chalk">Mise en bouche</h5>
		</div>

		<div class="col s3 offset-s2" ng-click="modalView='name'">
			<img src="../assets/meals/aperitif-glass.png"> 
			<h5 class="chalk">A boire</h5>
		</div>
	</div>

	<!-- =======================================
	NAME AND PICTURE
	======================================= -->
	<div class="row" ng-show="modalView=='name'">

		<button ng-click="modalView='details'" class="btn modal-trigger btn-floating btn-large waves-effect waves-light orange right bold">></button>

		<!-- NAME -->
		<div class="input-field col s3 offset-s2">
			<input id="name" type="text" required>
			<label for="name">Quel est son petit nom ?</label>
		</div>

		<!-- PICTURE -->
		<div class="input-field col s3 offset-s2">

			<img ngf-src="file">

			<form name="form" class="center">
				<a class="chalk waves-effect waves-light btn-large orange btn-block" ngf-select ng-model="file" name="file" ngf-pattern="'image/*'"
				ngf-accept="'image/*'">{{file ? 'Changer de photo' : 'Choisir une photo'}}</a>

				<a ng-show="file" ng-click="submit()" class="chalk waves-effect waves-light btn-large orange btn-block">Je prends celle la !</a>
			</form>

		</div>

	</div>
	
	<!-- =======================================
	DETAILS
	======================================= -->
	<div class="details-aperitif" ng-show="modalView=='details'">

		<h5 class="marmellata textOrange">Ingredients</h5>
		
		<!-- first row of select -->
		<div class="row textOrange">

			<!-- ========================================================== -->
			<!-- ingredients choice -->
			<div class="input-field">
				<select class="browser-default col s2 offset-s1 transparent">
					<option value="" disabled selected>Choisissez un ingrédient</option>
					<option ng-repeat="name in ingredients.names track by $index">{{name}}</option>
				</select>
			</div><!-- end ingredients choice -->

			<!-- unitiy choice -->
			<div class="input-field">
				<select class="browser-default col s1 transparent">
					<option value="" disabled selected>Unité</option>
					<option ng-repeat="unity in ingredients.unities track by $index">{{unity}}</option>
				</select>
			</div><!-- end unity choice -->
			<!-- ========================================================== -->


			<!-- ========================================================== -->
			<!-- ingredients choice -->
			<div class="input-field">
				<select class="browser-default col s2 offset-s1 transparent">
					<option value="" disabled selected>Choisissez un ingrédient</option>
					<option ng-repeat="name in ingredients.names track by $index">{{name}}</option>
				</select>
			</div><!-- end ingredients choice -->

			<!-- unitiy choice -->
			<div class="input-field">
				<select class="browser-default col s1 transparent">
					<option value="" disabled selected>Unité</option>
					<option ng-repeat="unity in ingredients.unities track by $index">{{unity}}</option>
				</select>
			</div><!-- end unity choice -->
			<!-- ========================================================== -->


			<!-- ========================================================== -->
			<!-- ingredients choice -->
			<div class="input-field">
				<select class="browser-default col s2 offset-s1 transparent">
					<option value="" disabled selected>Choisissez un ingrédient</option>
					<option ng-repeat="name in ingredients.names track by $index">{{name}}</option>
				</select>
			</div><!-- end ingredients choice -->

			<!-- unitiy choice -->
			<div class="input-field">
				<select class="browser-default col s1 transparent">
					<option value="" disabled selected>Unité</option>
					<option ng-repeat="unity in ingredients.unities track by $index">{{unity}}</option>
				</select>
			</div><!-- end unity choice -->
			<!-- ========================================================== -->

		</div>

		<div class="row textOrange">

			<!-- ========================================================== -->
			<!-- ingredients choice -->
			<div class="input-field">
				<select class="browser-default col s2 offset-s1 transparent">
					<option value="" disabled selected>Choisissez un ingrédient</option>
					<option ng-repeat="name in ingredients.names track by $index">{{name}}</option>
				</select>
			</div><!-- end ingredients choice -->

			<!-- unitiy choice -->
			<div class="input-field">
				<select class="browser-default col s1 transparent">
					<option value="" disabled selected>Unité</option>
					<option ng-repeat="unity in ingredients.unities track by $index">{{unity}}</option>
				</select>
			</div><!-- end unity choice -->
			<!-- ========================================================== -->

		</div>


	</div>

</div>








