{% extends "base.html.twig" %}


{% block body %}

    {{parent()}}

    <div class="row">
        <div class="col s12">
            <ul class="tabs">
                <li class="tab col s3"><a href="#aperitifs">Apéritifs</a></li>
                <li class="tab col s3"><a href="#entree">Entrées</a></li>
                <li class="tab col s3"><a href="#viandes">Viandes & Poissons</a></li>
                <li class="tab col s3"><a href="#legumes">Légumes</a></li>
                <li class="tab col s3"><a href="#desserts">Dessert</a></li>
                <li class="tab col s3"><a href="#boissons">Boissons</a></li>
            </ul>
        </div>


        <div id="aperitifs" class="col s12">
            <a href="ajoutAperitif" class="waves-effect waves-light center-align btn-flat col s2 offset-s5">ENREGISTRER UN APERITIF</a>
            
        </div>

        <div id="entree" class="col s12">
            <a class="waves-effect waves-light center-align btn-flat col s2 offset-s5">ENREGISTRER UNE ENTREE</a>
            ZONE ENTREES
        </div>
        <div id="viandes" class="col s12">
            <a class="waves-effect waves-light center-align btn-flat col s2 offset-s5">ENREGISTRER UNE VIANDES</a>
            ZONE VIANDES ET POISSONS
        </div>
        <div id="legumes" class="col s12">
            <a class="waves-effect waves-light center-align btn-flat col s2 offset-s5">ENREGISTRER UN LEGUME</a>
            ZONE LEGUMES
        </div>
        <div id="desserts" class="col s12">
            <a class="waves-effect waves-light center-align btn-flat col s2 offset-s5">ENREGISTRER UN DESSERT</a>
            ZONE DESSERTS
        </div>
        <div id="boissons" class="col s12">
            <a class="waves-effect waves-light center-align btn-flat col s2 offset-s5">ENREGISTRER UNE BOISSON</a>
            ZONE BOISSONS
        </div>
    </div>


{% endblock %}
